#source-list {
    margin-top: 320px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#source-list div {
    height: 100%;
    min-width: 384px;

    margin: 16px;

    background-color: var(--mid-color);
    border-radius: 32px;
}

@media screen and (orientation: portrait) {
    #source-list {
        margin-top: 64px;
        flex-direction: column;
        height: auto;
    }

    #source-list div {
        min-height: 320px; /* will change */
        width: 80vw;
    }
}